@import url("../styles/colors.less");
@import url("../styles/fonts.less");
@import url("../styles/animations.less");
@import url("../styles/breakpoints.less");


//none section specific styling
.section {
  background-color: @white;
  font-size: 16px;

  .breakpoint-medium({
    font-size: 20px;
  });
  
  .breakpoint-large({
    font-size: 20px;
  });
}

.short-section {
  height: 430px;

  .breakpoint-small({
    height: 430px;
  });
  
  .breakpoint-medium({
    height: 430px;
  });
}

.medium-section {
  height: 600px;

  .breakpoint-small({
    height: 500px;
  });
  
  .breakpoint-medium({
    height: 500px;
  });
}

.large-section {
  height: 550px;

  .breakpoint-small({
    height: 550px;

  });
  
  .breakpoint-medium({
    height: 550px;
  });
}

.vertical-align-container {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.angular-center-container {
  height:100%;
  width:100%;
  // pointer-events: none;
  display:table;
  z-index:9999;
}

.angular-centered {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//generic font styling

.regular-text {
  font-family: 'Open Sans', sans-serif;
  .breakpoint-small({
    font-size: 80%;
  });

  
}

.section-header {
  font-family: 'Parisish';
  font-size: 200%;
  margin-bottom: 5%;
  color: @black;

  .breakpoint-medium({
    margin-bottom: 50px;
  });
}

.subsection-header {
  font-family: 'Parisish';
  color: @black;
  font-size: 150%;
}

.axis-font {
  font-family: 'Axis' !important;
}

.bold-text {
  font-weight: bold;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.company-name-header {
  font-family: 'Parisish';
  
  color: @white;
  .breakpoint-small({
    font-size: 150%;
  });

  .breakpoint-medium({
    font-size: 200%;
  });

  span {
    display: block;
  }
}
  
//font size styling

#landing-page {
  background-image: url("../images/photographs/landing.jpg");
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  font-size: 36px;
  background-repeat: no-repeat;

  .breakpoint-small({
    background-position: 50% 0px;
    background-size: 125%;
  });



  .walking-prints {
    height: 350px;
  }
}

#about-summary {
  color: @black;

  h2 {
    font-size: 100%;
    font-family: 'Parisish';
    .breakpoint-small({
      font-size: 133%;
    });

    .breakpoint-medium({
      font-size: 167%;
    });

    .breakpoint-large({
      font-size: 200%;
    });

    span {
      display: block;
    }
  }

  img {
    height: 100px;
  }

  .company-name-header {
    color: @black !important;
  }
}

#transition-one {
  background-image: url("../images/photographs/quote.jpg");
  background-size: 100% auto;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  

  h5 {
    font-family: 'Open Sans', sans-serif;
    color: @pink;
  }

  .quote {
    font-size: 200%;
  }

  .quote-author {
    margin-top: 25px;
    font-size: 150%;
    font-weight: 600;
  }
}

#about-jane {
  color: @black;

  .jane-photo-container {
    text-align: center;
    .breakpoint-small({
      text-align: right;
    });

    img {
      width: 100%;
      max-height: 200px;
      max-width: 200px;      
      .breakpoint-small({
        max-height: 250px;
        max-width: 250px;
      });
      
    }
  }

  .jane-biography-container {
    text-align: center;
    .breakpoint-small({
      text-align: left;
    });
  }


}

#offerings-page {
  
  background-image: url("../images/photographs/offerings.jpg");
  background-size: cover;
  background-position: center;

  .selected-offering-text {
    height: 330px;
    .breakpoint-small({
      height: 230px;  
      });
    
  }

  .offering-section {
    margin-top: 10px;

    .offering-button {
      outline: none;
      font-family: 'Axis';
      font-size: 80%;  
      width: 100%;
      border: 2px solid @icon_pink_hover;
      border-radius: 4px;
      color: @icon_pink_hover;
      padding: 10px;
      line-height: 1;
      margin: 0;
      background-color: transparent;
      cursor: pointer;
      margin-bottom: 2%;
      .breakpoint-small({
        margin-bottom: 0;
        width: auto;
        font-size: 100%;
      });
    }

    .offering-button:hover, .offering-button.selected-offering {
      background-color: @icon_pink_hover;
      color: @white;
    }
  }
}


#philosophy-page {
  .circle-logo {
    height: 100px;
    margin-bottom: 2%;
  }
      

}


#gallery-page {

  .gallery-image {
    height: 300px;
    width: auto;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;

    .breakpoint-medium({
      height: 400px;
    });
  }

  .slidebox-container {
    position: relative;
  }

  .slidebox {
      height: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
  }

  .slidebox-content {
    height: 300px;
    width: 8620px;
    .breakpoint-medium({
      height: 400px;
      width: 11405px;
      });
  }

  .slidebox-controls {
      background-size: 50% !important;
      opacity: 0.5;
      position: absolute;
      top: 0;
      height: 300px;
      bottom: 0; /* don't cover scrollbar */
      width: 10%;

      .breakpoint-medium({
        height: 400px;
      });
  }

  .slidebox-left {
      background: transparent url('../images/left-arrow.png') center center no-repeat;
      left: 0;
      cursor: w-resize;
  }

  .slidebox-right {
      background: transparent url('../images/right-arrow.png') center center no-repeat;
      right: 0;
      cursor: e-resize;
  }

  .box {
      display: inline-block;
      width: 50px;
      height: 50px;
      background: #eef;
  }
}


#contact-page {
  padding-top: 25px;
  .breakpoint-small({
    padding-top: 75px;
  });
  
  .contact-method {
    margin-bottom: 15px;
    .breakpoint-small({
      margin-bottom: 30px;  
    });
    

    p {
      display: inline;
      vertical-align: middle;
      font-size: 90%;
    }

    a {
      color: @icon_pink_hover;
      text-decoration: none;
    }

    a:hover {
      color: @icon_pink_dark;
    }

    .black-paw {
      margin-left: 5px;
      display: inline;
      height: 15px;

      .breakpoint-medium({
        height: 20px;
      });
      
    }
  }

  .contact-form {
    background-color: @white;
    color: @grey;
    text-align: right;  

    .form-group .help-block {
      display: none;
    }
     
    .form-group.has-error .help-block {
      display: block;
      margin: .75%;
      font-weight: 600;
      font-size: 60%;
    }

    // .form-group.has-error .input-container {
    //   margin: 0% .75%;
    // }

    .form-control {
      font-size: 90%;
      border-radius: 0px;
      border: 2px solid @white;
    }

    input.form-control {
      padding: 5px;
      min-height: 25px;
      font-family: 'Open Sans', sans-serif;
      -moz-box-sizing: border-box;
      border-color: @light_grey;
      border-width: 1px;
      border-radius: 4px;

      .breakpoint-small ({
        padding: 10px;
        min-height: 50px;
      });
    }


    textarea.form-control {
      min-height: 100px;
      padding: 5px;
      font-family: 'Open Sans', sans-serif;
      -moz-box-sizing: border-box;
      border-color: @light_grey;
      border-width: 1px;
      border-radius: 4px;

      .breakpoint-small ({
        min-height: 150px;
        padding: 10px;
      });
    }

    textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
      border-color: @icon_pink_hover;
      box-shadow: 0 1px 1px @icon_pink_hover inset, 0 0 8px @icon_pink_hover;
      outline: 0 none;
    }

    .contact-button-container {
      text-align: center;

      .breakpoint-small({
        text-align: left
      });

    }

    .contact-button {
      background-color: @icon_pink_hover;
      border-radius: 4px;
      border-color: @icon_pink_hover;
      color: @white;
      font-size: 100%;
      font-family: 'Axis';
      margin-top: 2.5%;
    }

    .contact-button:hover {
      background-color: @icon_pink_dark;
      -webkit-box-shadow: 0px 0px 20px @icon_pink_hover; 
      -moz-box-shadow: 0px 0px 20px @icon_pink_hover; 
      box-shadow: 0px 0px 20px @icon_pink_hover; 
      color: @white;
      transition: box-shadow .25s ease;
    }

    .contact-message {
      display: none;
      font-size: 90%;
      font-family: 'Open Sans', sans-serif;
      margin: 0;
    }

    .successMessage {
      display: block;
      color: rgba(71, 189, 129, 1.0);
    }

    .failureMessage {
      display: block;
      color: red;
    }

    .hideButton {
      display: none;
    }
  }
  
}


#map-section {

  #map {
    background-position: 10% 50%;
    background-size: 150%;
    background-image: url('http://api.tiles.mapbox.com/v4/mapbox.streets-basic/pin-l-dog-park+c091e6(-71.212660074234,42.31913734412221,17)/-71.212660074234,42.31913734412221,17/1280x1280.png?access_token=pk.eyJ1IjoiaGVucnlraWVseSIsImEiOiJ1czZCVkFVIn0.5CwMFCLWHzwFhxpt5XtCDg');
    .breakpoint-small({
      background-position: center;
      background-size: cover;
    });
  }

  #map-text {
    background-color: rgba(255, 255, 255, .8);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 350px;
    padding: 0 5%;
    .breakpoint-small ({
      height: 430px;
    });
  }

  #map-text p {
    font-size: 75%;
    .breakpoint-small({
      font-size: 80%;
    });
  }
}


#bottom-bar {
  padding-top: 2%;
  .bottom-bar-text {
    display: inline;
    .breakpoint-small({
      padding: 5px 20px;  
      });
    
  }
  .bottom-row {
    .breakpoint-small({
      padding-bottom: 2%;
    });
    
  }

  a {
    color: @white;
    font-size: 24px; 

    .contact-icon {
      display: inline-block;
      height: 50px;
      width: 50px;
      margin: 10px;
      background-color: @icon_pink;
      border-radius: 100px;
      text-align: center;
      vertical-align: middle;
      
      i {
        margin-top: 13px;
      }
    }
  }

  .legal-text p {
    margin: 0;
    display: inline-block;
    font-size: 60%;
  }

  .legal-modal {
    cursor: pointer;
  }

  .contact-icon:hover {
    background-color: @icon_pink_hover;
    cursor: pointer;
  }

  .powered-by {
    font-family: 'Axis';
    font-size: 80%;
    display: inline-block;
    a {
      color: @black;
      font-size: 110%;
    }
  }
}