<div class="row section" id="landing-page" ng-style="setHeightWidthAndPadding(1.0, .35, 0, 1)" resize>
  <div class="col-xs-12 text-center" id="company-name-header-container" perfect-parallax parallax-ratio="-.8" parallax-css="margin-top">
    <h1 class="company-name-header">Newton Highlands<span>GROOMING & PET BOUTIQUE</span></h1>
  </div>
  <div class="col-xs-12 text-center" id="paw-prints hidden-xs">
    <img ng-src="../images/landing/paw_prints.gif" class="walking-prints"/>
  </div>
</div>
<div class="row section short-section" id="about-summary" perfect-parallax parallax-ratio="-.8" parallax-css="margin-top">
  <centered>
    <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 text-center">
      <img ng-src="../images/illustrations/dog.svg"/>
      <h2>Newton Highlands<span>GROOMING</span></h2>
      <p class="regular-text"> offers gentle grooming for dogs and cats in an intimate environment. Two-time winner of Best of Boston, we have chosen to remain a small shop. This has allowed us to continue to give your pet the personal attention that we have come to be known for.</p>
    </div>
  </centered>
</div>
<div class="row section short-section" id="transition-one" >
  <centered>
    <div class="col-sm-10 col-sm-offset-1 col-xs-12 text-center">
      <h5 class="quote">"Our perfect companions never have fewer than four feet."</h5>
      <h5 class="quote-author">-Sidonie-Gabrielle Colette</h5>
    </div>
  </centered>
</div>
<div class="row section medium-section" id="about-jane">
  <centered>
    <div class="col-sm-3 col-sm-offset-0 col-xs-10 jane-photo-container vertical-align-container" >
      <img ng-src="../images/photographs/jane.png"/>
    </div>
    <div class="col-sm-5 col-sm-offset-0 col-xs-10 jane-biography-container vertical-align-container">
      <h3 class="section-header no-bottom-margin">JANE BRUCE</h3>
      <p class="regular-text">Jane Bruce has been an animal lover her entire life, and has been fortunate enough to have found her true calling more than 20 years ago. In 1998, she had the great opportunity to purchase an existing pet grooming shop and make it her own. This has enabled her to combine her artistic side with her love of all things furry.</p>
    </div>
  </centered>
</div>
<div class="row section medium-section" id="offerings-page">
  <centered>
    <div class="col-xs-12 text-center">
      <h3 class="section-header">OUR OFFERINGS</h3>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center selected-offering-text">
      <centered>
        <p class="regular-text axis-font">{{offeringSelected}}</p>
      </centered>
    </div>
    <div class="col-sm-3 hidden-xs"></div>
    <div class="col-sm-2 col-xs-4 offering-section" ng-repeat="offering in offerings">
      <button class="offering-button btn btn-lg" ng-class="{'selected-offering': offering.selected}" ng-click="changeOfferingText(offering.position)">{{offering.title}}</button>
    </div>
  </centered>
</div>
<div class="row section large-section" id="philosophy-page">
  <centered>
    <div class="col-xs-12 text-center">
      <h3 class="section-header">OUR PHILOSOPHY</h3>
    </div>
    <div class="col-xs-12 visible-xs">
      <img class="circle-logo" ng-src="../images/logo/logo_circle.svg"/>
    </div>
    <div class="col-sm-7 col-sm-offset-1 col-xs-12 text-left vertical-align-container">
      <p class="regular-text">With over 20 years of grooming experience our goal is to help educate our clients on the proper care of their cherished pets. This enables them to spot problems and potential health issues.</br></br>We strive to get to know you and your pet so that we can accommodate any special needs and provide that level of unique attention that both you and your pet deserve.</br></br>All animals are treated with kindness and respect. Our policy puts all dogs’ health and comfort above cosmetics and aesthetics.  If we deem the coat is too matted, the only humane thing to do is a short clip. We will NEVER hurt an animal to save the coat.</p>
    </div>
    <div class="col-sm-3 hidden-xs vertical-align-container">
      <img ng-src="../images/logo/logo_circle.svg"/>
    </div>
  </centered>
</div>
<div class="row section" id="gallery-page">
  <div class="col-xs-12 text-center">
    <h6 class="subsection-header">Click on a picture below to enlarge</h6>
  </div>
  <div class="col-xs-12">
    <slidebox class="my-slidebox" content-class="my-slidebox-content"><img class="gallery-image" ng-repeat="slide in galleryImages" ng-click="openGalleryModal($index)" ng-src="{{slide['src']}}" /></slidebox>
  </div>
</div>
<div class="row section short-section" id="contact-page">
  <div class="col-sm-8 col-sm-offset-1 text-left col-xs-12">
    <div class="contact-method">
      <img class="black-paw" ng-src="../images/icons/paw_faceup_black.svg"/>
      <p class="regular-text axis-font">To contact Newton Highlands Grooming & Pet Boutique please contact Jane at <a href="mailto:jane@newtonhighlandsgrooming.com">jane@newtonhighlandsgrooming.com</a></p>
    </div>
    <div class="contact-method">
      <img class="black-paw" ng-src="../images/icons/paw_faceup_black.svg"/>
      <p class="regular-text axis-font">follow Jane at her <a ng-href="http://newtonhighlandsgrooming.tumblr.com/" target="_blank">blog</a></p>
    </div>
    <div class="contact-method">
      <img class="black-paw" ng-src="../images/icons/paw_faceup_black.svg"/>
      <p class="regular-text axis-font">write us a message</p>
    </div>
    <div class="contact-method">
      <img class="black-paw" ng-src="../images/icons/paw_faceup_black.svg"/>
      <p class="regular-text axis-font">check us out on <a ng-href="https://www.facebook.com/pages/Newton-Highlands-Grooming-and-Pet-Boutique/123827980989221" target="_blank">facebook</a></p>
    </div>
    <div class="contact-method">
      <img class="black-paw" ng-src="../images/icons/paw_faceup_black.svg"/>
      <p class="regular-text axis-font">leave us on a review on <a ng-href="http://www.yelp.com/biz/newton-highlands-grooming-and-pet-boutique-newton-highlands-2" target="_blank">yelp</a></p>
    </div>

  </div>
  <div class="col-sm-5 col-xs-12 contact-form">

    <!-- <form name="form.contact" novalidate method="send" id="nh-pet-contact-form">
      <div class="row">
        <div class="col-sm-5 col-xs-12 input-container">
          <div class="form-group" show-errors>
            <input type="text" class="form-control" placeholder="NAME" name="data[Name]" ng-model="contact.name" required></input>
            <p class="help-block" ng-if="form.contact['data[Name]'].$error.required">Please provide your name</p>
          </div>
        </div>
        <div class="col-sm-7 col-xs-12 input-container">
          <div class="form-group" show-errors>
            <input type="email" class="form-control" name="from" ng-model="contact.email"  placeholder="EMAIL ADDRESS" required></input>
            <p class="help-block" ng-if="form.contact.from.$error.required">An email address is required</p>
            <p class="help-block" ng-if="form.contact.from.$error.email">Please enter a valid email address</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group" show-errors>
          <div class="col-xs-12 input-container">
            <textarea class="form-control" name="data[Message]" ng-model="contact.message" placeholder="MESSAGE" required></textarea>
          </div>
          <div class="col-xs-12">
            <p class="help-block" ng-if="form.contact['data[Message]'].$error.required">Please provide a message</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 contact-button-container">
          <input type="hidden" name="utf8" value="✓">
          <input type="hidden" name="to" value="jane@newtonhighlandsgrooming.com" />
          <input type="hidden" name="noreply" value="no-reply@newtonhighlandsgrooming.com" />
          <input type="hidden" name="company" value="New Highlands Grooming & Pet Boutique" />
          <button class="btn btn-success btn-lg contact-button" type="submit" ng-class="{'hideButton': submitMessageSuccess}" ng-click="sendContactForm()" ng-disabled="form.contact.$invalid">SUBMIT</button>
          <p class="contact-message" ng-class="{'successMessage': submitMessageSuccess, 'failureMessage': !submitMessageSuccess}">{{submitMessage}}</p>
        </div>
      </div>
    </form> -->
  </div>
</div>
<div class="row section" id="map-section">
  <div class="col-xs-12 text-center">
    <h6 class="subsection-header">Or stop in and say hello!</h6>
  </div>
    <div class="col-xs-12" id="map">
      <div class="row">
        <div class="col-xs-7 col-sm-5 short-section" id="map-text">
          <centered>
            <h3 class="section-header">Directions</h3>
            <p class="text-left regular-text axis-font bold-font">We are located on the corner of Route 9 Westbound and Woodward Street. There is a small parking lot located behind my shop. It is accessible from Rt. 9 Westbound, or from Woodward. The Woodward Street entrance has an arrow marking it as an exit but it has always been used as an entrance as well.</p>
          </centered>
        </div>
      </div>
    </div>
</div>
<div class="row section" id="bottom-bar">
  <div class="col-xs-12 text-center bottom-row">
    <p class="regular-text bottom-bar-text">9 WOODWARD STREET, NEWTON HIGHLANDS, MA</p>
    <p class="regular-text bottom-bar-text">(617) 630-8449</p>
    <p class="regular-text bottom-bar-text">JANE@NEWTONHIGHLANDSGROOMING.COM</p>
  </div>
  <div class="col-xs-12 text-center bottom-row">
    <a ng-href="{{method.href}}" target="{{method.target}}" ng-repeat="method in contactIcons">
      <div class="contact-icon">
        <i class="fa {{method.icon}}"></i>
      </div>
    </a>
  </div>
  <div class="col-xs-12 text-center bottom-row legal-text">
    <p class="regular-text bold-text legal-modal" ng-click="openLegalModal('lg', 'privacy-policy')">Privacy Policy</p>
    <p class="regular-text">|</p>
    <p class="regular-text bold-text legal-modal" ng-click="openLegalModal('lg', 'terms-conditions')">Terms of Use</p>
    <p class="regular-text">|</p>
    <h6 class="powered-by">powered by <a ng-href="http://www.julycampdesign.com" target="_blank">July Camp</h6>
  </div>
</div>