@import url("../styles/colors.less");
@import url("../styles/fonts.less");
@import url("../styles/animations.less");
@import url("../styles/breakpoints.less");

#home-section {
  background-color: @blue;
  text-align: center;
  font-size: 25px;

  #opening-text {
    h1 {
      color: @white;
    }
  }
}