<div class="modal-popup gallery-popup">
  <div class="modal-header">
    <h2 class="modal-title text-center">{{title}}</h2>
    <button type="button" class="close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class='modal-body'>
    <div class="row">
      <div class="col-xs-12 text-center">
        <img class="modal-gallery-photo" ng-src="{{selectedPhoto}}" style="max-height:{{photoMaxHeight}}"/>
      </div>
    </div>
  </div>
  <div class='modal-footer'>
    <div class="row">
      <div class="col-xs-12 text-center">
        <button class="btn btn-warning btn-lg modal-close-button" ng-click="closeModal()">Done</button>
      </div>
    </div>
  </div>
</div>