<div class="modal-popup gallery-popup" resize>
  <div class="modal-header">
    <h2 class="modal-title text-center">{{title}}</h2>
    <button type="button" class="close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class='modal-body'>
    <div class="row" ng-style="setHeightPercentage(.7)">
      <div class="col-xs-2 gallery-arrow gallery-left-arrow" ng-click="togglePhoto(-1)"></div>
      
      <div class="col-xs-8 text-center modal-photo-container">
        <img class="modal-gallery-photo" ng-src="{{selectedPhotoSrc}}"/>
      </div>

      <div class="col-xs-2 gallery-arrow gallery-right-arrow" ng-click="togglePhoto(1)"></div>
    </div>
  </div>
  <div class='modal-footer'>
    <div class="row">
      <div class="col-xs-12 text-center">
        <button class="btn btn-warning btn-lg modal-close-button" ng-click="closeModal()">Done</button>
      </div>
    </div>
  </div>
</div>