<div class="modal-popup legal-popup">
  <div class="modal-header">
    <h2 class="modal-title text-center">{{text.header}}</h2>
    <button type="button" class="close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class='modal-body'>
    <div class="row">
      <div class="col-xs-12">
        <p ng-repeat="paragraph in text.bodyText">{{paragraph}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <button class="btn btn-warning btn-lg modal-close-button" ng-click="closeModal()">Done</button>
      </div>
    </div>
  </div>
</div>