.modal-popup {
  border-radius: 0px;

  .modal-close-button {
    border-radius: 0px;
    background-color: @icon_pink_hover;
    border: 1px solid @icon_pink_hover;
    font-family: 'Raleway-Heavy';
    color: @white;
  }

  .modal-close-button:hover {
    background-color: @icon_pink_dark;
    transition: background-color .5s ease;
  }

  .close {
    margin-top: -30px;
    margin-right: 10px;
  }

  .close:hover {
    color: red;
  }

  .modal-title {
    font-family: 'Parisish';
  }
}

.legal-popup {
  max-height: 600px;
  overflow: scroll;
}