.modal-popup {
  border-radius: 0px;

  .modal-close-button {
    border-radius: 0px;
    background-color: @icon_pink_hover;
    border: 1px solid @icon_pink_hover;
    font-family: 'Raleway-Heavy';
    color: @white;
  }

  .modal-close-button:hover {
    background-color: @icon_pink_dark;
    transition: background-color .5s ease;
  }

  .close {
    margin-top: -30px;
    margin-right: 10px;
  }

  .close:hover {
    color: red;
  }

  .modal-title {
    font-family: 'Parisish';
  }
}

.legal-popup {
  .modal-body {
    max-height: 400px;
    overflow: scroll;  
  }
  
}

.gallery-popup {
  .modal-gallery-photo {
    max-width: 100%;
    max-height: 100%;
  }

  .gallery-arrow {
    cursor: pointer;
    background-position: 50% !important;
    background-size: 60%;
    background-repeat: no-repeat;
    height: 100%;
  }

  .gallery-left-arrow {
    background-image: url("../images/left-arrow.png");
  }

  .gallery-right-arrow {
    background-image: url("../images/right-arrow.png");
  }

  .modal-photo-container {
    height: 100%;
  }
}